jupyter>=1.1.1
pip>=24.3.1
attrs>=24.2.0
distro>=1.9.0
wheel>=0.41.3
protobuf>=5.28.2
pillow>=10.4.0
tornado>=6.4.1
Jinja2>=3.1.4
filelock>=3.16.1
openai>=1.54.3
streamlit>=1.39.0
duckduckgo_search>=6.3.3
groq>=0.11.0
microagent @ git+https://github.com/chrislatimer/microagent.git@0924e09e41ec744c516cab59423a4d1577a0874f